<h1 align="center" class="display-4 ">Товары</h1>
<a *ngIf="currentUser?.role == Role.Customer" style="color: inherit"
   routerLink="/seller/product/new" class="float-right mb-3"><i class="fas fa-plus fa-2x">Add</i>
</a>
<table id="table" class="table table-striped text-center" style="width:100%;">
    <thead>
    <tr>
        <th scope="col">Фото</th>
        <th scope="col">Код</th>
        <th scope="col">Имя</th>
        <th scope="col">Тип</th>
        <th scope="col">Описание</th>
        <th scope="col">Цена</th>
        <th scope="col">Кол-во</th>
        <th scope="col">Статус</th>
        <th scope="col">Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let productInfo of page?.content">
        <th class="align-middle" scope="row">
            <img height="100px" src="{{productInfo.productIcon}}" alt="{{productInfo.productName}}">
        </th>
        <td class="align-middle">{{productInfo.productId}}</td>
        <td class="align-middle">{{productInfo.productName}}</td>
        <td class="align-middle">{{CategoryType[productInfo.categoryType]}}</td>
        <td class="align-middle">{{productInfo.productDescription}}</td>
        <td class="align-middle">Br {{productInfo.productPrice}}</td>
        <td class="align-middle">{{productInfo.productStock}}</td>
        <td class="align-middle">{{ProductStatus[productInfo.productStatus]}}</td>
        <td class="align-middle">
            <a style="display: block" routerLink="/seller/product/{{productInfo.productId}}/edit">
                Редактировать</a>

            <a *ngIf="currentUser?.role == Role.Customer" style="display: block"
               (click)="remove(page.content, productInfo.productId)" routerLink="./">
                Удалить</a>
        </td>

    </tbody>
</table>
<app-pagination [currentPage]="page"></app-pagination>
