<h1 align="center" class="display-4 mb-5">О нас</h1>

<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="assets/foodtruck.jpeg"  width="900" height="470" class="image d-inline-block align-top" alt="">
      </div>
      <br>
      <div class="text card-content">
        <p>
            Рады приветствовать вас в фуд-траке МЧС. <br> Мы находимся по адресу Куйбышева, 45 (Песочница). 
        </p>
      </div>
      <div class="text card-action">
        <a href="#">На главную</a>
      </div>
    </div>
  </div>
</div>


